<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.winbee.rbclasses">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/rblogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name="OfflineDownloadActivity"/>

        <activity android:name="ShowDownload"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity android:name="ShowDownloadCourse"
            />
        <activity android:name="DownloadVideo"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".AllPurchasedTestActivity"/>
        <activity android:name=".DemoOnlineTestActivity"/>
        <activity android:name=".TestSubscriptionActivity"/>
        <activity android:name=".TestRankActivity"/>
        <activity android:name=".OnlineTestActivity"/>
        <activity android:name=".OnlineQuestionActivity"/>
        <activity android:name=".TestSolutionActivity"/>
        <activity android:name=".ViewResultActivity"/>
        <activity android:name=".InstructionsActivity"/>
        <activity android:name=".SubjectActivity"/>
        <activity android:name=".YouTubeComplete"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboardHidden"
            android:windowSoftInputMode="adjustUnspecified" ></activity>
        <activity
            android:name=".YoutubeLibaray"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified" />
        <activity android:name=".DiscussionActivity" />
        <activity android:name=".LiveDataPurchasedActivity" />
        <activity android:name=".PermiumSellActivity" />
        <activity android:name=".LiveDataActivity" />
        <activity android:name=".CurrentAffairsActivity" />
        <activity android:name=".AboutUsActivity" />
        <activity android:name=".McqSolutionActivity" />
        <activity
            android:name=".DoubtSolutionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Doubt Solution"
            android:parentActivityName=".DiscussionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OtpVerficationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".IntroSliderActivity" />
        <activity android:name=".ForgetPasswordActivity" />
        <activity android:name=".ResetPassWordActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".PdfWebActivity" />
        <activity
            android:name=".StudyMaterial"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".YouTubeVideoList" />
        <activity
            android:name=".DashboardCourseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Profile"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashPageActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Utils.MyMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

<!--        <meta-data-->
<!--            android:name="com.razorpay.ApiKey"-->
<!--            android:value="rzp_live_Bc4ITN4OG0PCjn" />-->

<!--        <meta-data-->
<!--            android:name="com.razorpay.ApiKey"-->
<!--            android:value="rzp_live_T1TF9yvc1fd5il" />-->
    </application>

</manifest>